.hero-img {
  background: url("../images/hero-image.jpg") center center / cover no-repeat;
  width: 100%;
  height: 700px;
  top: 65px;
  position: relative;
}

.hero-text {
  position: absolute;
  margin: 0 auto;
  width: 92%;
  height: 700px;
  left: 0;
  right: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.hero-text {
  padding: 10% 0 15%;
}

.search-label {
  font-family: "amatic sc", cursive;
  color: var(--main-white);
  line-height: 43px;

  font-size: 2.5em;
  margin-bottom: 1%;
}

.search {
  max-width: 572px;
}

@media only screen and (max-width: 768px) {
  .hero-img,
  .hero-text {
    height: 400px;
  }

  .hero-img {
    padding: 0 5%;
  }

  .hero-text {
    padding: 7% 0 9%;
  }

  .h1-white {
    font-size: 4.44rem;
  }
}
