/* || Css variables (colors) */
:root {
  --main-orange: #f4a152;
  --main-blue: #1e4a5c;
  --main-white: #f8f9fa;
  --main-black: #121416;

  --orange100: #fbe0c5;
  --orange300: #e57a10;
  --orange400: #ac5c0c;
  --orange500: #884707;

  --blue100: #d1e7f0;
  --blue200: #84bfd7;
  --blue300: #3789a9;
  --blue500: #0f252e;

  --gray200: #e8eaed;
  --gray300: #a5adb6;
  --gray400: #535b65;

  --main-green: #a2a861;
  --main-red: #b2422e;

  --green100: #d9dbbd;
  --green300: #414224;

  --red100: #e6a99e;
  --red300: #612419;
}
/* ... */

/* || GENERAL STYLES || */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 18px;

  /* font-size: calc(15px + 0.390625vw); */
  /* Article about using calc() for responsive font-sizes 
  https://matthewjamestaylor.com/responsive-font-size */
}
/* || Typography */
body {
  background-color: var(--main-white);
  color: var(--main-black);
  font-family: "Lato", cursive;
}

main {
  position: relative;
  top: 65px;
  margin: 0% 2%;
}

p {
  line-height: 2em;
  letter-spacing: 0.02em;
}

h1,
h2,
h3,
h4,
nav a {
  font-family: "Amatic SC", sans-serif;
  color: var(--main-black);
}
/* ... */

h1 {
  font-size: 5.556rem;
}

h2 {
  font-size: 3.5rem;
  margin-left: 3%;
}

h3,
.category-name {
  font-size: 1.833rem;
  color: var(--main-blue);
}

.featured-carousel h3 {
  font-size: 2.222rem;
}

a {
  font-weight: bold;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}

/* a {
  font-weight: bold;
  color: var(--orange400);
  text-decoration: none;
} */

a:hover {
  color: var(--main-orange);
}
/* ... */

i {
  font-size: 32px;
  color: var(--main-black);
}

/* ... */

button {
  background: none;
  border: none;
  cursor: pointer;
}

/* ... */

input {
  height: 52px;
  border: none;
  padding: 0 20px;
  color: var(--gray300);
  width: 100%;
}

input:focus {
  outline: 2px solid var(--main-orange);
}

@media only screen and (max-width: 768px) {
  body {
    font-size: 0.889rem;
    text-align: center;
  }

  h1 {
    font-size: 3.5rem;
  }

  h2 {
    font-size: 2.833rem;
    text-align: center;
  }

  h3 {
    font-size: 1.5rem;
  }
}

/* || UTILITIES || */

.nobullets {
  list-style: none;
}

.flex-center {
  display: flex;
  align-items: center;
  width: 100%;
  height: 65px;
}

.box-shadow {
  box-shadow: 0px 10px 15px rgba(15, 37, 46, 0.15);
}

.centered-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
@media screen and (min-width: 768px) {
  /* .wider-margin {
    margin-left: 16.6%;
    margin-right: 16.6%;
  } */
}

.widest-margin {
  margin-left: 23.4%;
  margin-right: 23.4%;
}

.cta {
  text-align: center;
  overflow: hidden;
  padding: 15px 45px;
  transition: 0.3s ease-in-out;
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: 0.3px;
  display: block;
}

.btn-featured {
  color: var(--orange500);
  background-color: var(--orange100);
  align-self: flex-end;
}

.btn-featured:hover {
  color: var(--main-white);
  background-color: var(--main-orange);
}
.cta-sub {
  border: 3px solid var(--orange100);
  color: var(--orange400);
  margin: 20px auto;
}

.cta-sub:hover {
  border-color: var(--main-orange);
}
/* .loader {
  background-repeat: no-repeat;
  fill: linear-gradient(90deg, #1e4a5c, #f4a152);
  width: 100px;
  height: 100px;
  animation: colorchange 2s ease infinite;
} */

/* || different colors on elements || */
.h1-white {
  color: var(--main-white);
  font-size: 6.875rem;
  line-height: 70px;
}

/* ... */

/* || Buttons || */
.search-btn {
  background-color: var(--main-orange);
}

.search-btn:hover {
  background-color: var(--orange300);
}

.fa-magnifying-glass {
  color: var(--main-white);
  padding: 10px;
}

/* ... */

/* || Paragraphs || */
.container-p {
  max-width: 800px;
  margin-left: 4%;
}

/* || SITEWIDE || */

/* || Header and Main Navigation */

nav {
  width: 100%;
  padding: 0 20px;
  height: 65px;
  justify-content: space-between;
  position: fixed;
  background: var(--main-white);
  z-index: 98;
}

nav a,
nav i {
  color: var(--main-black);
  text-decoration: none;
}

.subnav {
  display: none;
  padding: 3.5% 5%;
}

.nav-blog {
  height: 100%;
  display: flex;
  align-items: center;
}
/*
.nav-blog .nav-link {
}
*/
.nav-blog:hover .subnav {
  display: flex;
  position: absolute;
  right: 10%;
  top: 65px;
  background-color: var(--main-white);
  column-gap: 5%;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.subnav-child {
  width: 250px;
}

.nav-blog:hover .subnav:nth-child(1) {
  order: 1;
}
.nav-blog:hover .subnav:nth-child(0) {
  order: 2;
}
.nav-blog:hover .subnav:nth-child(2) {
  order: 3;
}

.subnav-child a {
  font-family: "Lato", cursive !important;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 400;
}

.logo-img {
  max-height: 40px;
}
.logo-text {
  display: block;
  padding-left: 20px;
  font-size: 2rem;
}

.logo:hover {
  color: var(--main-black);
}

.hamburger-menu {
  display: none;
}

@media only screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    right: -200%;
    flex-direction: column;
    width: 100%;
    z-index: 99;
    transition: 0.3s;
    background-image: url("../images/nav-background.jpg");
    padding-top: 4rem;
  }

  .nav-menu.active {
    left: 0;
  }

  .logo-text,
  .nav-menu {
    display: none;
  }

  .hamburger-menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 100;

    right: 1rem;
    padding: 5px;
    cursor: pointer;
    height: 32px;
    justify-content: space-between;
  }

  .bar {
    width: 30px;
    height: 3px;
    transition: all 0.3s ease-in-out;
    background-color: var(--main-black);
    border-radius: 5px;
  }

  /* animated hamburger icon */
  .hamburger-menu.active .bar {
    background-color: var(--main-white);
  }

  .hamburger-menu.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger-menu.active .bar:nth-child(1) {
    transform: translateY(9.5px) rotate(45deg);
  }
  .hamburger-menu.active .bar:nth-child(3) {
    transform: translateY(-9.5px) rotate(-45deg);
  }

  .nav-item {
    background-color: var(--main-white);
    width: 100%;
    box-shadow: 0px 10px 15px rgba(15, 37, 46, 0.15);
    margin-bottom: 2rem;
    padding: 5px 40px;
  }
  nav a {
    font-size: 1.5em;
  }

  .nav-blog:hover .subnav {
    display: none;
  }
}

.nav-menu {
  display: flex;
  column-gap: 55px;
  font-size: 1.75rem;
  margin-right: 10%;
  height: 100%;
}

.active-page {
  color: var(--main-blue);
  border: 2px solid var(--main-orange);
  padding: 0 10px;
}

/* ... */

/* || Blog cards || */

.carousel-wrapper {
  /* position: relative; */
  overflow: hidden;
  /* overflow: hidden;
  margin: 0 auto;*/
}

.latest-carousel {
  /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr; */
  /* margin: 0 auto; */
  column-gap: 50px;
}

.carousel-main {
  display: flex;
  margin-left: 5%;
  margin-right: 5%;
}
/* position: absolute;
  left: 0;
  right: 0;
  width: 180%; */

/* .latest-button-wrapper {
   display: flex;
  justify-content: space-between;

  width: 100%;
  height: 100%;
  align-items: center; 
} */

.featured-button-wrapper {
  position: relative;
  top: 50%;
}

.featured-next {
  position: absolute;
  right: 0;
}

/* .featured-prev,
.left-arrow {
  left: 0px;
  position: absolute;
  top: 50%;
}

.featured-next,
.right-arrow {
  right: 0px;
  top: 50%;
  position: absolute;
} */

.small-post {
  max-width: 200px;

  /* display: inline-block; */
  /* flex-direction: column; */
}

/* .small-post-img-square {
  width: 200px;
  height: 200px;
  overflow: hidden;
} */

.small-post-img {
  object-fit: cover;
  width: 200px;
  height: 200px;
  transition: 0.25s ease-in-out;
}
/* ... */

.small-post a:hover h3 {
  color: var(--main-orange);
}

.small-post a:hover .small-post-img {
  transform: scale(1.025);
}

.progress {
  text-align: center;
  margin-top: 20px;
}

.progress-circle {
  width: 15px;
  height: 15px;
  background-color: var(--blue100);
  border-radius: 20px;
  margin: 4px;
}

.progress-circle.active {
  background-color: var(--main-blue);
}

.featured-carousel-wrapper {
  position: relative;
  height: 600px;
}

.featured-carousel {
  margin-left: 3%;
  margin-right: 3%;
  height: 0;
}

.featured-post {
  display: none;
  position: relative;
  width: 100%;
  height: 600px;
}

.featured-post.active {
  display: block;
}

.featured-post-img {
  position: absolute;
  z-index: 96;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 600px;
}

.featured-post-card {
  position: absolute;
  left: 40px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 97;
  background-color: #fff;
  height: 90%;
  max-width: 35%;
  padding: 2%;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.date {
  align-self: center;
  font-size: 0.778rem;
  color: var(--gray300);
  text-transform: uppercase;
}

.orange-line {
  width: 150px;
  height: 3px;
  background-color: var(--main-orange);
  align-self: center;
}

@media only screen and (max-width: 500px) {
  .latest-carousel {
    column-gap: 15px;
  }

  .small-post {
    max-width: 150px;
  }
  .small-post-img {
    width: 150px;
    height: 150px;
  }

  .featured-carousel-wrapper {
    height: 525px;
    margin-left: 0;
    margin-right: 0;
  }
  .featured-post {
    display: block;
  }
  .featured-next,
  .featured-prev {
    display: none;
  }

  .featured-post-img {
    height: 200px;
  }

  .featured-post-card {
    left: 0;
    bottom: 0;
    height: 62%;
    max-width: 100%;
  }
}
/* .latest-posts-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 500px) and (max-width: 768px) {
  .latest-posts-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .latest-posts-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (min-width: 1023px) and (max-width: 1300px) {
  .latest-posts-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
} */

/* .arrow-left {
  background-color: var(--main-blue);
  width: 32px;
  height: 32px;
  border-radius: 50px;
}

.bar-white {
  background-color: var(--main-white);
  width: 25px;
  height: 3px;
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
} */

/* || About part - home || */
.about-container-home {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 5%;
  width: 75%;
  margin: 0 auto;
}

.about-img-container {
  width: 42%;
  align-self: center;
}

.about-img {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
}

.about-img img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  border-radius: 50%;
}

.about-text {
  max-width: 50%;
  align-self: center;
}

@media screen and (max-width: 768px) {
  .about-container-home {
    flex-direction: column;
    width: 87%;
  }

  .about-img-container {
    width: 87%;
  }

  .about-img img {
    top: 0;
    left: 0;
  }

  .about-text {
    max-width: 87%;
    text-align: left;
  }

  .about-container-right {
    flex-direction: column-reverse;
  }
}

/* HEADER IMAGES */

.about-header,
.blog-post-header {
  height: 500px;
  width: 100%;
}

.blog-post-header-img {
  width: 100%;
  height: 500px;
  position: relative;
  top: 65px;
  display: grid;
  align-content: center;
}

.header-img {
  background: linear-gradient(rgba(18, 20, 22, 0.4), rgba(18, 20, 22, 0.4)),
    url("../images/about-header.jpg") center center / cover no-repeat;
  width: 100%;
  height: 500px;
  position: relative;
  top: 65px;
  display: grid;
  align-content: center;
}

.about-header h1,
.blog-post-header h1 {
  text-align: center;
  color: var(--main-white);
}

.about-header h1::after,
.blog-post-header h1::after {
  content: "";
  width: 150px;
  height: 3px;
  background-color: var(--main-orange);
  display: block;
  margin: 0 auto;
}

@media only screen and (max-width: 768px) {
  .header-img {
    height: 400px;
  }

  .header-img {
    padding: 0 5%;
  }

  .header-text {
    padding: 7% 0 9%;
  }

  .h1-white {
    font-size: 4.44rem;
  }
}

/* || CATEGORY PAGE || */

.main-category-container {
  margin: 0 auto;
  width: 66.7%;
  display: grid;
  /* flex-wrap: wrap; */
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  row-gap: 5%;
  column-gap: 5%;
}

.category-card {
  width: 268px;
  height: 268px;
}

.category-img {
  /* background-image: url(/images/categories/northern-norway.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
  width: 268px;
  height: 218px;
}

.category-name {
  font-family: "Amatic SC", sans-serif;
  text-align: center;
}

@media screen and (max-width: 1048px) {
  .main-category-container {
    column-gap: 15px;
    row-gap: 15px;
  }
  .category-card {
    width: 175px;
    height: 175px;
    /* flex-shrink: 3; */
  }

  .category-img {
    width: 175px;
    height: 135px;
  }

  .category-name {
    font-size: 1.35rem;
  }

  .blog-container {
    grid-template-columns: 1fr;
    row-gap: 30px;
  }
}

@media screen and (max-width: 768px) {
  .main-category-container {
    grid-template-columns: 1fr 1fr;
  }
}

/* || BLOG || */
.blog-container {
  max-width: 56%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 7%;
  row-gap: 60px;
}

.blog-post-card {
  width: 100%;
}

.blog-post-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin: 0;
}

.post-card {
  margin: 0;
  padding: 7.5%;
}

@media screen and (max-width: 1048px) {
  .blog-container {
    grid-template-columns: 1fr;
    row-gap: 30px;
  }
}

@media screen and (max-width: 768px) {
  .blog-container {
    max-width: 100%;
  }
}

.hidden-post {
  display: none;
}

.inactive {
  border-color: var(--gray200);
  color: var(--gray300);
}

.inactive:hover {
  border-color: var(--gray200);
  cursor: auto;
}
