/* || Css variables (colors) */
:root {
  --main-orange: #f4a152;
  --main-blue: #1e4a5c;
  --main-white: #f8f9fa;
  --main-black: #121416;

  --orange100: #fbe0c5;
  --orange300: #e57a10;
  --orange400: #ac5c0c;
  --orange500: #884707;

  --blue100: #d1e7f0;
  --blue200: #84bfd7;
  --blue300: #3789a9;
  --blue500: #0f252e;

  --gray200: #e8eaed;
  --gray300: #a5adb6;
  --gray400: #535b65;

  --main-green: #a2a861;
  --main-red: #b2422e;

  --green100: #d9dbbd;
  --green300: #414224;

  --red100: #e6a99e;
  --red300: #612419;
}
/* ... */

/* || GENERAL STYLES || */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  /* font-size: calc(15px + 0.390625vw); */
  /* Article about using calc() for responsive font-sizes 
  https://matthewjamestaylor.com/responsive-font-size */
}
/* || Typography */
body {
  background-color: var(--main-white);
  color: var(--main-black);
  font-family: "Lato", cursive;
}

/* p {
 
} */

h1,
h2,
h3,
h4,
nav a {
  font-family: "Amatic SC", sans-serif;
}
/* ... */

a {
  font-weight: bold;
  color: var(--orange400);
}

a:hover {
  color: var(--main-orange);
}
/* ... */

i {
  font-size: 32px;
}

/* ... */

button {
  background: none;
  border: none;
}

/* || UTILITIES || */

.nobullets {
  list-style: none;
}

.flex-center {
  display: flex;
  align-items: center;
}

/* ... */

/* || SITEWIDE || */

/* || Header and Main Navigation */

nav {
  width: 100%;
  box-shadow: 0px 10px 15px rgba(15, 37, 46, 0.15);
  padding: 10px 20px;
  justify-content: space-between;
}

nav a,
nav i {
  color: var(--main-black);
  text-decoration: none;
}

.logo-img {
  max-height: 40px;
}

.subnav-parent {
  display: none;
}
.hamburger-menu {
  display: none;
}

@media only screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    /* transform: translateY(-100%);
  transition: transform 0.2s; */
    top: 0;
    bottom: 0;
    right: -200%;
    flex-direction: column;
    width: 100%;
    z-index: 99;
    text-align: center;
    transition: 0.3s;
    background-image: url("../images/nav-background.jpg");
    padding-top: 3rem;
  }

  .nav-menu.active {
    left: 0;
  }

  /* .openMenu {
    transform: translateY(0);
  } */

  .logo-text,
  .nav-menu,
  .close {
    display: none;
  }

  .hamburger-menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 100;

    right: 1rem;
    padding: 5px;
    cursor: pointer;
    height: 32px;
    justify-content: space-between;
  }

  .bar {
    width: 25px;
    height: 3px;
    transition: all 0.3s ease-in-out;
    background-color: var(--main-black);
    border-radius: 5px;
  }

  .hamburger-menu.active .bar {
    background-color: var(--main-white);
  }

  .hamburger-menu.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger-menu.active .bar:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
  }
  .hamburger-menu.active .bar:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
  }
}

.nav-menu {
  display: flex;
  column-gap: 55px;
  font-size: 1.75rem;
  margin-right: 10%;
}

.active-page {
  color: var(--main-blue);
  border: 2px solid var(--main-orange);
  padding: 0 10px;
}

@media screen and (min-width: 1024px) {
  .logo-text {
    display: block;
    padding-left: 20px;
    font-size: 2rem;
  }

  .logo:hover {
    color: var(--main-black);
  }
}

/* ... */
/* ... */
